.productFlex{
    display:flex;
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: center;
    padding: 0;
    gap:120px;
}

.row-style{
    background-color: antiquewhite;
    margin: 30px 10px;
    border-radius: 60px;
}
.style{
    color:red;
}